In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 5, 26, 13, 12, 45, 596864)

In [3]:
now.year, now.month, now.day

(2019, 5, 26)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 23, 7, 15)
delta

datetime.timedelta(927, 60300)

In [7]:
delta.days

927

In [9]:
delta.seconds

60300

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011, 1, 3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [35]:
import pandas as pd
import numpy as np

In [27]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
pd.isnull(idx)

array([False, False,  True])

In [33]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [36]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -2.077894
2011-01-05    1.112363
2011-01-07    0.417442
2011-01-08    1.303350
2011-01-10   -1.819466
2011-01-12   -0.447520
dtype: float64

In [37]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [38]:
ts + ts[::2]

2011-01-02   -4.155789
2011-01-05         NaN
2011-01-07    0.834884
2011-01-08         NaN
2011-01-10   -3.638933
2011-01-12         NaN
dtype: float64

In [39]:
ts[::2]

2011-01-02   -2.077894
2011-01-07    0.417442
2011-01-10   -1.819466
dtype: float64

In [40]:
ts.index.dtype

dtype('<M8[ns]')

In [41]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [42]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [43]:
ts[ts.index[0]]

-2.077894315136181

In [44]:
longer_ts = pd.Series(np.random.randn(1000),
    index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01   -0.135254
2000-01-02    0.466641
2000-01-03    0.127310
2000-01-04    0.409619
2000-01-05    0.582348
Freq: D, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01    0.535203
2001-05-02    0.495620
2001-05-03   -0.173827
2001-05-04   -1.085152
2001-05-05    1.366720
2001-05-06    0.310814
2001-05-07   -0.767174
2001-05-08   -0.083990
2001-05-09   -1.523585
2001-05-10   -0.447897
2001-05-11    0.453823
2001-05-12   -0.154668
2001-05-13    0.227859
2001-05-14   -0.417108
2001-05-15    1.209473
2001-05-16   -0.476487
2001-05-17   -1.143375
2001-05-18    0.137126
2001-05-19    0.272543
2001-05-20    0.669177
2001-05-21   -0.454405
2001-05-22    1.288467
2001-05-23    0.412975
2001-05-24    0.891793
2001-05-25    0.032020
2001-05-26   -0.433389
2001-05-27   -0.624108
2001-05-28    0.273581
2001-05-29    0.638723
2001-05-30   -0.498395
2001-05-31   -0.674673
Freq: D, dtype: float64

In [47]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.417442
2011-01-08    1.303350
2011-01-10   -1.819466
2011-01-12   -0.447520
dtype: float64

In [48]:
ts

2011-01-02   -2.077894
2011-01-05    1.112363
2011-01-07    0.417442
2011-01-08    1.303350
2011-01-10   -1.819466
2011-01-12   -0.447520
dtype: float64

In [49]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.417442
2011-01-08    1.303350
2011-01-10   -1.819466
dtype: float64

In [50]:
ts.truncate(after='1/9/2011')

2011-01-02   -2.077894
2011-01-05    1.112363
2011-01-07    0.417442
2011-01-08    1.303350
dtype: float64

In [51]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [52]:
long_df = pd.DataFrame(np.random.randn(100, 4),
    index=dates,
    columns=['Colorado', 'Texas',
    'New York', 'Ohio'])

In [53]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.075546 -0.001739 -0.474607  1.488663
2001-05-09 -0.548671  0.199456  0.813267  2.513408
2001-05-16  2.110045 -0.605405 -0.519913 -0.035046
2001-05-23  0.370278 -0.706813 -0.043322  1.399215
2001-05-30  2.331479 -0.848960  1.553668 -0.194703

In [54]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [55]:
dup_ts.index.is_unique

False

In [56]:
dup_ts['1/3/2000']

4

In [57]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [58]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [59]:
ts

2011-01-02   -2.077894
2011-01-05    1.112363
2011-01-07    0.417442
2011-01-08    1.303350
2011-01-10   -1.819466
2011-01-12   -0.447520
dtype: float64

In [60]:
resampler = ts.resample('D')

In [62]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [63]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [66]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [68]:
from pandas.tseries.offsets import Hour, Minute

In [69]:
hour = Hour()
hour

In [70]:
Hour(4)

In [71]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [72]:
Hour(2) + Minute(30)

In [73]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [74]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [75]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [76]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.870051
2000-02-29   -0.178523
2000-03-31    0.417177
2000-04-30    0.613198
Freq: M, dtype: float64

In [77]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.870051
2000-04-30   -0.178523
Freq: M, dtype: float64

In [78]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.205187
2000-03-31   -3.336822
2000-04-30    0.469874
Freq: M, dtype: float64

In [79]:
ts.shift(2, freq='M')

2000-03-31    0.870051
2000-04-30   -0.178523
2000-05-31    0.417177
2000-06-30    0.613198
Freq: M, dtype: float64

In [80]:
ts.shift(3, freq='D')

2000-02-03    0.870051
2000-03-03   -0.178523
2000-04-03    0.417177
2000-05-03    0.613198
dtype: float64

In [81]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.870051
2000-02-29 01:30:00   -0.178523
2000-03-31 01:30:00    0.417177
2000-04-30 01:30:00    0.613198
Freq: M, dtype: float64

In [82]:
from pandas.tseries.offsets import Day, MonthEnd

In [83]:
now = datetime(2011, 11, 17)

In [84]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [85]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [86]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [87]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [88]:
ts = pd.Series(np.random.randn(20),
    index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.482022
2000-01-19   -1.087651
2000-01-23   -0.279518
2000-01-27   -1.137402
2000-01-31   -0.916565
2000-02-04    0.027246
2000-02-08   -0.192404
2000-02-12    1.424534
2000-02-16    0.262504
2000-02-20   -1.288419
2000-02-24    0.089541
2000-02-28   -0.360078
2000-03-03    0.174518
2000-03-07    0.636531
2000-03-11    0.065394
2000-03-15   -0.744721
2000-03-19   -0.028851
2000-03-23    1.365723
2000-03-27   -0.962698
2000-03-31   -1.754474
Freq: 4D, dtype: float64

In [89]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.387823
2000-02-29   -0.005297
2000-03-31   -0.156072
dtype: float64

In [90]:
ts.resample('M').mean()

2000-01-31   -0.387823
2000-02-29   -0.005297
2000-03-31   -0.156072
Freq: M, dtype: float64

In [91]:
import pytz

In [92]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [93]:
tz = pytz.timezone('America/New_York')

In [94]:
tz

In [95]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [96]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [97]:
ts

2012-03-09 09:30:00    1.059255
2012-03-10 09:30:00    1.043654
2012-03-11 09:30:00   -0.219412
2012-03-12 09:30:00   -0.563225
2012-03-13 09:30:00   -0.490292
2012-03-14 09:30:00   -1.907147
Freq: D, dtype: float64

In [98]:
print(ts.index.tz)

None

In [99]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [100]:
ts_utc = ts.tz_localize('UTC')

In [101]:
ts_utc

2012-03-09 09:30:00+00:00    1.059255
2012-03-10 09:30:00+00:00    1.043654
2012-03-11 09:30:00+00:00   -0.219412
2012-03-12 09:30:00+00:00   -0.563225
2012-03-13 09:30:00+00:00   -0.490292
2012-03-14 09:30:00+00:00   -1.907147
Freq: D, dtype: float64

In [102]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [103]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.059255
2012-03-10 04:30:00-05:00    1.043654
2012-03-11 05:30:00-04:00   -0.219412
2012-03-12 05:30:00-04:00   -0.563225
2012-03-13 05:30:00-04:00   -0.490292
2012-03-14 05:30:00-04:00   -1.907147
Freq: D, dtype: float64

In [104]:
ts_eastern = ts.tz_localize('America/New_York')

In [105]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    1.059255
2012-03-10 14:30:00+00:00    1.043654
2012-03-11 13:30:00+00:00   -0.219412
2012-03-12 13:30:00+00:00   -0.563225
2012-03-13 13:30:00+00:00   -0.490292
2012-03-14 13:30:00+00:00   -1.907147
Freq: D, dtype: float64

In [106]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    1.059255
2012-03-10 15:30:00+01:00    1.043654
2012-03-11 14:30:00+01:00   -0.219412
2012-03-12 14:30:00+01:00   -0.563225
2012-03-13 14:30:00+01:00   -0.490292
2012-03-14 14:30:00+01:00   -1.907147
Freq: D, dtype: float64

In [107]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [108]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [109]:
stamp_utc = stamp.tz_localize('utc')

In [110]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [111]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [112]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [113]:
stamp_utc.value

1299902400000000000

In [114]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [115]:
from pandas.tseries.offsets import Hour

In [116]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [117]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [118]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [119]:
pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [120]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [121]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [122]:
ts

2012-03-07 09:30:00    0.042363
2012-03-08 09:30:00    0.979734
2012-03-09 09:30:00   -0.943035
2012-03-12 09:30:00    0.635544
2012-03-13 09:30:00    1.044962
2012-03-14 09:30:00   -1.076081
2012-03-15 09:30:00   -0.716783
2012-03-16 09:30:00    1.231312
2012-03-19 09:30:00   -0.942200
2012-03-20 09:30:00    0.618030
Freq: B, dtype: float64

In [123]:
ts1 = ts[:7].tz_localize('Europe/London')

In [124]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [125]:
result = ts1 + ts2

In [126]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [127]:
p = pd.Period(2007, freq='A-DEC')

In [128]:
p

Period('2007', 'A-DEC')

In [129]:
pd.Period('2014', freq='A-DEC') - p

7

In [130]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [131]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.567613
2000-02    0.501871
2000-03    0.012204
2000-04   -0.016672
2000-05    1.192596
2000-06    1.461592
Freq: M, dtype: float64

In [132]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [133]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [134]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [135]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [136]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [137]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [138]:
p = pd.Period('2007', freq='A-JUN')
p

Period('2007', 'A-JUN')

In [139]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [140]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [141]:
p = pd.Period('Aug-2007', 'M')

In [142]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [143]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -1.049016
2007    1.267773
2008   -0.150095
2009   -0.832013
Freq: A-DEC, dtype: float64

In [144]:
ts.asfreq('M', how='start')

2006-01   -1.049016
2007-01    1.267773
2008-01   -0.150095
2009-01   -0.832013
Freq: M, dtype: float64

In [145]:
ts.asfreq('B', how='end')

2006-12-29   -1.049016
2007-12-31    1.267773
2008-12-31   -0.150095
2009-12-31   -0.832013
Freq: B, dtype: float64

In [146]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [147]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [148]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [149]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [150]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [151]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [152]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [153]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [154]:
ts = pd.Series(np.random.randn(3), index=rng)

In [155]:
ts

2000-01-31   -0.959598
2000-02-29   -0.222121
2000-03-31    0.043762
Freq: M, dtype: float64

In [156]:
pts = ts.to_period()

In [157]:
pts

2000-01   -0.959598
2000-02   -0.222121
2000-03    0.043762
Freq: M, dtype: float64

In [158]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29   -0.623177
2000-01-30    1.956828
2000-01-31   -0.685016
2000-02-01    0.528109
2000-02-02   -1.282863
2000-02-03    0.025278
Freq: D, dtype: float64

In [159]:
ts2.to_period('M')

2000-01   -0.623177
2000-01    1.956828
2000-01   -0.685016
2000-02    0.528109
2000-02   -1.282863
2000-02    0.025278
Freq: M, dtype: float64

In [160]:
pts = ts2.to_period()

In [161]:
pts

2000-01-29   -0.623177
2000-01-30    1.956828
2000-01-31   -0.685016
2000-02-01    0.528109
2000-02-02   -1.282863
2000-02-03    0.025278
Freq: D, dtype: float64

In [162]:
pts.to_timestamp(how='end')

2000-01-29   -0.623177
2000-01-30    1.956828
2000-01-31   -0.685016
2000-02-01    0.528109
2000-02-02   -1.282863
2000-02-03    0.025278
Freq: D, dtype: float64

In [163]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01    0.296072
2000-01-02    2.345135
2000-01-03    0.344239
2000-01-04   -0.612310
2000-01-05    0.225530
2000-01-06   -0.310483
2000-01-07   -0.289387
2000-01-08    1.104412
2000-01-09    0.208988
2000-01-10   -0.378665
2000-01-11    0.355206
2000-01-12    0.548206
2000-01-13   -1.642230
2000-01-14   -0.830285
2000-01-15   -0.139638
2000-01-16   -0.042904
2000-01-17    1.355628
2000-01-18    1.167903
2000-01-19    0.355145
2000-01-20    0.244714
2000-01-21   -1.240198
2000-01-22   -0.171458
2000-01-23   -0.190803
2000-01-24    0.850090
2000-01-25    0.383548
2000-01-26   -2.135298
2000-01-27    1.139581
2000-01-28    0.127289
2000-01-29    0.710162
2000-01-30   -0.501254
                ...
2000-03-11   -1.483731
2000-03-12   -0.103098
2000-03-13    0.073915
2000-03-14   -1.166112
2000-03-15    0.807912
2000-03-16   -0.405422
2000-03-17    0.726670
2000-03-18    0.491991
2000-03-19    0.387476
2000-03-20    0.207943
2000-03-21   -0.475478
2000-03-22   -1.494029
2000-03-23    0.557420
2000-03-24    1.278495
2000-03-25   -1.101842
2000-03-26    0.245352
2000-03-27    0.464090
2000-03-28    0.650585
2000-03-29   -0.429126
2000-03-30   -0.128004
2000-03-31   -0.254236
2000-04-01   -0.777760
2000-04-02   -1.626063
2000-04-03   -0.191484
2000-04-04   -0.830781
2000-04-05    0.162730
2000-04-06    1.443518
2000-04-07    1.478564
2000-04-08   -0.954675
2000-04-09    1.165289
Freq: D, Length: 100, dtype: float64

In [164]:
ts.resample('M').mean()
ts.resample('M', kind='period').mean()

2000-01    0.039266
2000-02   -0.083747
2000-03   -0.005951
2000-04   -0.014518
Freq: M, dtype: float64

In [165]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [166]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [167]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [168]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [169]:
ts.resample('5min', closed='right',
    label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [170]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [171]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                        freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.746851  1.421947  0.034223 -0.624438
2000-01-12 -1.017106 -0.637928 -0.544317 -0.599174

In [172]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.746851  1.421947  0.034223 -0.624438
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.017106 -0.637928 -0.544317 -0.599174

In [173]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.746851  1.421947  0.034223 -0.624438
2000-01-06 -0.746851  1.421947  0.034223 -0.624438
2000-01-07 -0.746851  1.421947  0.034223 -0.624438
2000-01-08 -0.746851  1.421947  0.034223 -0.624438
2000-01-09 -0.746851  1.421947  0.034223 -0.624438
2000-01-10 -0.746851  1.421947  0.034223 -0.624438
2000-01-11 -0.746851  1.421947  0.034223 -0.624438
2000-01-12 -1.017106 -0.637928 -0.544317 -0.599174

In [174]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.746851  1.421947  0.034223 -0.624438
2000-01-06 -0.746851  1.421947  0.034223 -0.624438
2000-01-07 -0.746851  1.421947  0.034223 -0.624438
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.017106 -0.637928 -0.544317 -0.599174

In [175]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -0.746851  1.421947  0.034223 -0.624438
2000-01-13 -1.017106 -0.637928 -0.544317 -0.599174

In [176]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [177]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01 -0.126260 -2.664250 -3.194679  0.964297
2000-02  0.348926  0.688134  0.087099 -0.432146
2000-03 -1.522936 -0.614515  0.895599  0.794540
2000-04 -0.566090  0.725556 -0.910489 -1.207721
2000-05  0.417882  0.300989  0.115569 -0.062919

In [178]:
annual_frame = frame.resample('A-DEC').mean()

In [179]:
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.200159 -0.389183  0.146070 -0.343004
2001 -0.008507 -0.518554  0.472014  0.453144

In [180]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1 -0.200159 -0.389183  0.146070 -0.343004
2000Q2 -0.200159 -0.389183  0.146070 -0.343004
2000Q3 -0.200159 -0.389183  0.146070 -0.343004
2000Q4 -0.200159 -0.389183  0.146070 -0.343004
2001Q1 -0.008507 -0.518554  0.472014  0.453144
2001Q2 -0.008507 -0.518554  0.472014  0.453144
2001Q3 -0.008507 -0.518554  0.472014  0.453144
2001Q4 -0.008507 -0.518554  0.472014  0.453144

In [181]:
annual_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.200159 -0.389183  0.146070 -0.343004
2001Q1 -0.200159 -0.389183  0.146070 -0.343004
2001Q2 -0.200159 -0.389183  0.146070 -0.343004
2001Q3 -0.200159 -0.389183  0.146070 -0.343004
2001Q4 -0.008507 -0.518554  0.472014  0.453144

In [182]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.200159 -0.389183  0.146070 -0.343004
2001Q1 -0.200159 -0.389183  0.146070 -0.343004
2001Q2 -0.200159 -0.389183  0.146070 -0.343004
2001Q3 -0.200159 -0.389183  0.146070 -0.343004
2001Q4 -0.008507 -0.518554  0.472014  0.453144
2002Q1 -0.008507 -0.518554  0.472014  0.453144
2002Q2 -0.008507 -0.518554  0.472014  0.453144
2002Q3 -0.008507 -0.518554  0.472014  0.453144

In [185]:
score_at_2percent = lambda x: percentileofscore(x, 0.02)